/*弹窗样式*/
.model-box{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
.model{
	position: fixed;
	left: 50%;
	top: 0;
	width: 450px;
	height: 500px;
	background: #fff;
	margin-top: 150px;
	margin-left:-250px; 
}
.model-container{
	padding: 20px;
	box-sizing: border-box;
}
.model-header{
	box-sizing: border-box;
	padding-bottom: 5px; 
	border-bottom: 1px solid #ccc;
}
.header-text{
	float: left;	
}
.model-off{
	float: right;
	cursor: pointer;
}

.form{
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
}
.login-form{
	border-radius: 10px;
	/*width: 400px;*/
	background: red;
	background: #fff;
	margin: 0px auto;
	padding: 20px;
	font-size: 14px;
}
.login-header{
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.err{
	border-radius: 5px;
	color: red;
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	/*padding-left: 10px;*/
	border: 1px solid red;
	overflow: hidden;
	margin-bottom: 10px;
	display: none;
}
.err i{
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
}
.login-user,.login-password,.login-phone,.login-email,.login-repassword{
	font-size: 16px;
	border-radius: 5px;
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 16px;
}
.form-item{
	display: inline-block;
	height: 100%;
	width: 40px;
	text-align: center;
	background: #626262;
}
input{
	outline: none;
	border: none;
	padding-left: 10px;
}
#btn-add{
	display: block;
	margin: 0px auto;
	width: 300px;
	height: 40px;
	cursor:pointer;
	margin-bottom: 10px;
}




/*地址栏样式*/
.order-shipping{
	background: #fff;
}
.order-product{
	margin-top: 10px;
}
.pannel-address{
	box-sizing: border-box;
	padding: 20px 20px;
	margin-top: 30px;
	width: 100%;
	/*height: 300px;*/
	background: #fff;
	border-bottom: 2px solid #ccc;
}
.address-header{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	color:#A29B9B;
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 10px;
}
.address-item{
	margin-top: 30px;
	margin-bottom: 10px;
	float: left;
	width: 250px;
	height: 150px;
	background: #FFF;
	border: 3px dashed #ccc;
	margin-right: 20px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	font-size: 16px;
	color: #A29B9B;
	cursor: pointer;
}
.address-item.active{
	border-color:red 
}
.address-body{
	margin-bottom: 10px;

}
.address-detail{
	overflow: hidden;
}
.address-detail h3{
	margin-bottom: 20px;
}
.address-item:hover .operation{
	visibility: visible;
}
.address-footer{
	margin-top: 15px;
	text-align: right;
	cursor: pointer;
}
.operation{
	visibility: hidden;
}
.operation span:hover{
	color:#f21;
}


/*商品列表*/
.pannel-product{
	box-sizing: border-box;
	padding: 20px 20px;
	width: 100%;
	/*height: 300px;*/
	background: #fff;
}

.cart-title li,
.cart-item li,
.cart-footer li{
	float: left;
}
.cart-title{
	margin-top: 15px;
}
.cart-title,
.cart-item,
.cart-footer{
	padding-left: 10px;
	box-sizing: border-box;
}

.product-select{
	width: 6%;
}
.product-info{
	width: 54%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.product-price{
	width: 10%;
}
.product-count{
	width: 10%;
}
.product-totalPrice{
	width: 10%;
}
.product-opreation{
	width: 10%;
}

.cart-title {
	height: 40px;
	line-height: 40px;
	background-color: #ddd;
	color: #666;
	margin-bottom: 15px;
}

.cart-item {
	height: 80px;
	line-height: 80px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
}

.cart-item .product-info img{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.cart-item .product-count .count-input{
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	outline: none;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.cart-item .product-count .count-btn{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ddd;	
	background-color: #fff;
	cursor: pointer;
	user-select: none;
}
.cart-item .product-count .count-btn.plus{
	margin-left: -1px;
}
.cart-item  .product-totalPrice{
	font-size: 14px;
	font-weight: bold;
}
.cart-item .product-opreation .delete-one{
	cursor: pointer;
	user-select: none;
}

.cart-footer{
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	color: #666;	
}
.cart-footer .product-opreation .delete-selected{
	cursor: pointer;
	user-select: none;
}
.cart-footer .product-submit{
	float: right;
}
.cart-footer .product-submit .btn-submit{
	height: 60px;
	line-height: 60px;
	width: 100px;	
}
.cart-footer .product-submit  .total-price{
	display: inline-block;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #f21;
}
.cart-footer .product-submit .total-price-text{
	position: relative;
	top:-2px;
}
.cart-box .gohome-btn{
	display: block;
	margin: 20px auto;
}

.empty-message{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	color:#3339CBFF;
	margin-top: 50px;
}
.gohome-btn{
	font-size: 14px;
}

.btn-submit{
	display: inline-block;
	font-size: 16px;
}

.cart-empty{
	font-size: 24px;
	font-weight: bold;
	color: #F13A0DFF;
	text-align: center;
	margin-top: 100px;
}