.container{
	margin-top: 10px;

	overflow: hidden;
}
.list{

}
.order{

}
.default-order{
	cursor: pointer;
	border: 1px solid #000;
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #8C8686;
	box-sizing: border-box;
}
.price-order{
	cursor: pointer;
	border: 1px solid #000;
	position: relative;
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-left: none;
	box-sizing: border-box;
	background: #8C8686;
	margin-left: -4px;
}
.active{
	background: #F21;
	color: #fff;
}
.ascending{
	display: inline-block;
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer;
}
.down{
	display: inline-block;
	font-size: 18px;
	position: absolute;
	right: 10px;
	bottom: 6px;
	cursor: pointer;
}

.order-item.price-ascending .fa-sort-up{
	color:#FBE320;
}
.order-item.price-down .fa-sort-down{
	color:#FBE320;
}

.list-ul{
	margin-top: 10px;
}
.list-item{
	float: left;
	width: 280px;
	height: 350px;
	margin-right: 10px;
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.list-item:hover{
	box-shadow: 2px 4px 3px 3px rgba(0,0,0,0.4);
}
.price-item-order{
	margin-top: 5px;
	display: block;
	font-size: 18px;
	color:#F50A0A;
}
.name-item{
	margin-top: 5px;
	display: block;
	font-size: 16px;
	color:#827272;
}
.img-item{
	margin-top: 20px;
	width: 200px;
}

.nothing{
	font-size: 20px;
	font-weight: bold;
	color: #9A44F6;
	text-align: center;
}
