<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %>-电商平台</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="user-center">
		<div class="container user-container .clearfix">
			<%= require('html-loader!./common/sider.html') %>
			<div class="content">
				<div class="form">
					<div class="login-form">
						<div class="login-header">
							修改密码
						</div>
						<div class="err">
							<i class="fa fa-exclamation-circle"></i>
							<span class="err-msg"></span>
						</div>
						<div class="login-password">
							<label class="form-item">
								<i class="fa fa-lock"></i>
							</label>
							<input type="password" name="password" class="input-password" placeholder="请输入新密码">
						</div>
						<div class="login-repassword">
							<label class="form-item">
								<i class="fa fa-lock"></i>
							</label>
							<input type="password" name="newPassword" class="input-repassword" placeholder="请确认新密码">
						</div>
						<div class="btn btn-submit" id="btn-update-password">
							提交
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= require('html-loader!./common/footer.html') %>
</body>
</html>